<div class=container>
<%= form_for ([@plan, @plan.comments.new] )do |f| %> 

    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
    <p>
    <%= f.text_field :commenter,:value => current_user.nickname,:readonly => true%>
    </p>
    <p>
    <%= f.label :comment_body,"留言嗎？" %><br>
    <%= f.text_area :comment_body ,:required => 'required'%>
    </p>
    <p>
    <%= f.submit "留言",class:"btn"%> 
  	</p>
<% end %>
</div>












