<%= form_for ([@plan, @plan.comments.create] )do |f| %>   
	<p>
    <%= f.label :commenter, "留言者" %>
    <%= f.text_field :commenter,:value => current_user.nickname,:readonly => true%>
    </p>
    <p>
    <%= f.label :comment_body,"內容" %>
    <%= f.text_area :comment_body %>
    </p>
    <p>
    <%= f.submit "留言"%> 
  	</p>
<% end %>