<div class="banner text-center">
 	
		<%= image_tag "goal.png" ,class:"resize" %>

	<div class="newlayer text-center ">
		<div class="info">
			<h3>ㄧ起記錄清單，完成夢想</h3>
			<%= link_to '瞭解更多' ,how_it_works_path, class:"btn"%>
		</div>
	</div>

</div>

<div class="container text-center">
	<h3>你的夢想是什麼?</h3>
 	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>想要減重?</h4>
				<%= image_tag "loss_weight.png" %>
			</div>
			<div class="col-md-4">
				<h4>想要環遊世界?</h4>
				<%= image_tag "travel.png" %>
			</div>
				
			<div class="col-md-4">
				<h4>想要轉職?</h4>
				<%= image_tag "career.png" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h4>想要出國讀書?</h4>
				<%= image_tag "master.png" %>
			</div>
			<div class="col-md-3">
				<h4>想要創業?</h4>
				<%= image_tag "startup.png" %>
			</div>
			
			<div class="col-md-3">
				<h4>想要健康的身體?</h4>
				<%= image_tag "health.png" %>
			</div>
			<div class="col-md-3">
				<h4>想要成為投資大師?</h4>
				<%= image_tag "invest.png" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>想要中樂透?</h4>
				<%= image_tag "lottery.png" %>
			</div>
			<div class="col-md-4">
				<h4>想要戒菸?</h4>
				<%= image_tag "quit_smoking.png" %>
			</div>
			
			<div class="col-md-4">
				<h4>想要買房?</h4>
				<%= image_tag "house.png" %>
			</div>
		</div>
		


		<div class="container">
			<div class="col-md-12">
				<h4>還有什麼屬於你的夢想嗎???</h4>

				<%= image_tag "next.png"%>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<h3>現在和我們ㄧ起完成夢想!!!</h3>
	<h4 class="text-center">A goal without a plan is just a wish!</h4>
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				<h4>Step 1.</h4>
				<%= image_tag "set_goal.png" %>
				<h6>寫下願望清單</h6>
			</div>
			<div class="col-md-3 text-center">
				<h4>Step 2. </h4>
				<%= image_tag "set_stake.png" %>
				<h6>設定決心押金(彈性)</h6>
			</div>
			<div class="col-md-3 text-center">
				<h4>Step 3. </h4>
				<%= image_tag "work_hard.png" %>
				<h6>按照計畫努力</h6>
			</div>
			<div class="col-md-3 text-center">
				<h4>Step 4. </h4>
				<%= image_tag "reach_goal.png" %>
				<h6>成功可拿回全數押金</h6>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<%= link_to '註冊免費帳戶' ,new_user_registration_path , class:"btn"%>
	</div>
</div>
