<h1>Hi! 這是後台首頁 </h1>

<div class="container">
	<div class="row">
		<% @plans.each do |p| %>
			<div class="col-md-4">
				<table class="table table-bordered">
				<tr>
				  <th class="table-info"><%= p.title%></th>
				</tr>
				
				<tr>
					<td>預計完成日: <%= p.duedate%></td>
				</tr>
				<tr>
					<td colspan="2"><%= image_tag p.file_location ,class:"resize"%></td>
				</tr>
				<tr>
					<td colspan="2">是否公開: <%= p.is_public %></td>
				</tr>
				<tr>
					<td colspan="2">主辦人: <%= p.host %></td>
				</tr>
				<tr>
					<td colspan="2"><%= link_to 'Detail', plan_path(p) %> </td>
				</tr>
				</table>
			</div>			 	
		<% end %>
	</div>
</div>