<h2><i class="fa fa-bookmark-o" aria-hidden="true"></i>
<%= @plan.title %> </h1>
<div class="tag">
	<% @plan.tag_categories.each do |t| %>
		<i class="fa fa-tag fa-2x" aria-hidden="true"><%= t.name %></i>
	<% end %>
</div>
<div class="navi">
	
	<%= link_to '修改', edit_listadmin_plan_path(@plan),class:"btn" %>
	<%= link_to '刪除', listadmin_plan_path(@plan),method: :delete, data:{ confirm: "Are you sure?"},class:"btn" %>
	<%= link_to '回上ㄧ頁', listadmin_plans_path ,class:"btn"%>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag @plan.file_location.url ,class:"resize"%>	
		</div>

		<div class="col-md-6">
			
			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>
			是否公開：<%= @plan.is_public %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i> DueDate:<%= @plan.duedate %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>主辦人：<%= @plan.host%> </p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前進度：<%= @plan.progress %></p>
			
				

		
			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前follow人數：<%= @follower %></p>
		</div>
	</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Plan計畫</strong></p>
		</div>
		<div class="col-md-10">
			
			<%= @plan.plan %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Do執行</strong></p>
		</div>
		<div class="col-md-10">		
			<%= @plan.do_what %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Check檢視</strong></p>
		</div>

		<div class="col-md-10">			
			<%= @plan.check %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Action行動</strong></p>
		</div>


		<div class="col-md-10">			
			<%= @plan.act %>
		</div>
	</div>
</div>