<% if @plan.errors.present?%>
  <ul>
        <% @plan.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>





<%= form_for(@plan) do |f| %> 
 	<div class="form_group">
		<%= f.label :title, "願望主題" %>
		<%= f.text_field :title %>
	</div>
	<div class="form_group">
		<%= f.label :duedate, "預計完成日" %>
		<%= f.text_field :duedate %>
	</div class="form_group">
	<div class="form_group">
		<%= f.label :plan, "Plan計畫" %><br>
		<%= f.text_area :plan %>
	</div>
	<div class="form_group">
		<%= f.label :do_what, "Do執行" %><br>
		<%= f.text_area :do_what %>
	</div>
	<div class="form_group">
		<%= f.label :check, "Check檢視" %><br>
		<%= f.text_area :check %>
	</div class="form_group">
	<div class="form_group">
		<%= f.label :act, "Action行動" %><br>
		<%= f.text_area :act %>
	</div>
    <div class="form_group">	
    	<%= f.radio_button :is_public,true,:value => true %>
    	<%= f.label :is_public, "公開"%>
		<%= f.radio_button :is_public,false,:value => false %>		
		<%= f.label :is_public, "私人"%>
	</div>

    <div class="form_group">
    	<%= f.label :file_location, "上傳圖片" %>
		<%= f.file_field :file_location %>
  	</div>

  	 <div class="form_group">
    	<%= f.radio_button :progress,"剛決定願望",:value=>"剛決定願望"%>
    	<%= f.label :progress, "剛決定願望",:value=>"剛決定願望"%>
		<%= f.radio_button :progress,"Plan計畫階段",:value=>"Plan計畫階段"%>
		<%= f.label :progress, "Plan計畫階段",:value=>"Plan計畫階段"%>
		<%= f.radio_button :progress,"Do行動階段",:value=>"Do行動階段"%>
		<%= f.label :progress, "Do行動階段",:value=>"Do行動階段"%>
		<%= f.radio_button :progress,"Check檢視階段",:value=>"Check檢視階段"%>
		<%= f.label :progress, "Check檢視階段",:value=>"Check檢視階段"%>
		<%= f.radio_button :progress,"Action行動階段",:value=>"Action行動階段"%>
		<%= f.label :progress, "Action行動階段",:value=>"Action行動階段"%>
		<%= f.radio_button :progress,"完成計畫",:value=>"完成計畫"%>
		<%= f.label :progress, "完成計畫",:value=>"完成計畫"%>

	</div>

	<div class="form_group">
		<%= f.submit "送出"%>
	</div>    

<% end %>
<hr>

<%= link_to '回到個人頁面', plans_path ,class:"btn"%>



<style>
.btn{
		background-color:rgba(90,178,176,1);
		color:white;
		font-size: 16px;
	}
</style>