<div class="container">
	<h1 class="tc">你的Lists</h1>
	<% unless current_user.role == "user" %>
      <%= link_to '前往後台', listadmin_users_path ,class:"btn btn default"%>
 <% end %>
</div>
 

<div class="toolbox">
		<div class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search-plus fa-2x" aria-hidden="true">Lists放大鏡</i><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><%= link_to '新增願望?', new_plan_path%></li>				
					<%#= form_tag plans_path, :method => :get do %>
					<%#= text_field_tag "keyword" %>
					<%#= submit_tag "Search" ,class:"btn" %>	
				<li><%= link_to '依預計完成日排序', plans_path( :order => "title") %></li>
				<li><%= link_to '預設排序', plans_path %></li>
				<li><%= link_to '查看你Follow的Lists', follow_plan_plans_path %></li>
				<li><%= link_to '查看你的公開profile', user_path(@current_user.id) %></li>
				
			</ul>
		</div>
</div>


<div class="container">
	<div class="row">
		<% @plans.each do |p| %>
			<div class="col-md-4">
				<table class="table table-bordered">
				<tr>
				  <th class="table-info"><%= p.title%></th>
				</tr>
				
				<tr>
					<td>預計完成日: <%= p.duedate%></td>
				</tr>
				<tr>
					<td colspan="2"><%= image_tag p.file_location ,class:"resize-latest"%></td>
				</tr>
				<tr>
					<td colspan="2">是否公開: <%= p.is_public %></td>
				</tr>
				<tr>
					<td>
						<% p.tag_categories.each do |t| %>
		   			<i class="fa fa-tag" aria-hidden="true"><%= t.name %></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="2"><%= link_to 'Detail', plan_path(p) %> </td>
				</tr>
				</table>
			</div>			 	
		<% end %>
	</div>
</div>
