<div>
	<h1>Bucket Lists</h1>
</div>

<div>

<%= link_to 'Add?', new_plan_path ,class:"btn btn-primary btn-xs"%>

</div>

<div>
	<% @plans.each do |p| %>

	<table>
	<tr>
	    <th>願望主題</th>
		<th>預計完成日</th>
	</tr>
	
			<tr>
		<td><%= p.title%></td>
		<td><%= p.duedate%></td>
	</tr>
	<tr>
		<td colspan="2"><%= p.file_location %></td>
	</tr>
	<tr>
		<td colspan="2"><%=p.user.nickname %></td>
	</tr>
	<tr>
		<td colspan="2"><%= link_to 'Detail', plan_path(p) %> </td>
	</tr>
	</table>	
	 	
	<% end %>
</div>