<h1>See other's ideas </h1>

<div class="container">
	<div class="row">
  
		<% @plans.each do |p| %>
			<div class="col-md-4">
				<table class="table table-bordered">
					<tr>
					  <th><%= p.title%></th>
						
					</tr>
					
					<tr>
						<td>預計完成日: <%= p.duedate%></td>
						
					</tr>
					<tr>
						<td>最近更新: <%= p.updated_at%></td>
						
					</tr>

					<tr>
						<td><%= image_tag p.file_location ,class:"resize" %></td>
					</tr>
					<tr>
						<td><p>主辦人:<%=p.host%></p></td>
					</tr>
					<tr>
						<td><%= link_to 'Detail', plan_path(p) %> </td>
					</tr>
				</table>	
			</div>
		<% end %>
	 
	</div>
</div>

<style>
	

	.col-md-4 :hover{
		background-color: rgba(245,245,238,1);
	}
	.resize{
		resize: 
		width : auto;
		width : 300px;
		height : auto;
		height : 207px;
	}


</style>