<div class="container">
	<h1>大家的lists </h1>

	
</div>


<div class="container">
	<p><i class="fa fa-users" aria-hidden="true">目前用戶人數：<%= User.count %></i>
	<i class="fa fa-tint" aria-hidden="true">目前公開願望數：<%= Plan.where(:is_public => true).count %></i>
	<i class="fa fa-tint" aria-hidden="true">目前非公開願望數：<%= Plan.where(:is_public => false).count %></i>
	<i class="fa fa-commenting" aria-hidden="true">目前留言數：<%= Comment.count %></i></p>
	
	<p><i class="fa fa-tag " aria-hidden="true">依願望分類搜尋：

	<% TagCategory.all.each do |t| %>

		<i class="fa fa-tag " aria-hidden="true"><%= link_to t.name, tag_category_path(t.id)%>&nbsp;&nbsp;</i>
						
	<% end %>

	</i></p>

	<br><br>
	
</div>

<div class="container">
	<div class="row">
  
		<% @plans.each do |p| %>
			<div class="col-md-4">
				<table class="table table-bordered">
					<tr>
					  <th><%=truncate(p.title, length: 20) %></th>
						
					</tr>
					
					<tr>
						<td>預計完成日: <%= p.duedate%></td>
						
					</tr>
					<tr>
						<td>最近更新: <%= time_tag(p.updated_at) %></td>
						
					</tr>

					<tr>
						<td><%= image_tag p.file_location ,class:"resize-latest" %></td>
					</tr>
					<tr>
						
						<% @user= User.where(:nickname => p.host) %>
						<% @user.ids %>
						<td><%= link_to p.host, user_path(@user.ids) %>
						<% p.tag_categories.each do |t| %>
		   			<i class="fa fa-tag" aria-hidden="true"><%= t.name %></i>
						<% end %>
						</td>
					</tr>
					
					<tr>
						<td><%= link_to 'Detail', plan_path(p) %> </td>
					</tr>
				</table>	
			</div>
		<% end %>
	 
	</div>
</div>

