<div class="container">
	<h1>大家的plans</h1>
	
</div>

<div class="container">
	
	
	
	<p><i class="fa fa-tag " aria-hidden="true">依願望分類搜尋:

	<% TagCategory.all.each do |t| %>

		<i class="fa fa-tag " aria-hidden="true"><%= link_to t.name, tag_category_path(t.id)%>&nbsp;&nbsp;</i>
						
	<% end %>

	</i></p>
		<p><i class="fa fa-sort" aria-hidden="true">排序:</i>
		<i class="fa fa-sort" aria-hidden="true"><%= link_to '最多留言', latest_plans_path( :order => "comments_count") %></i>&nbsp;&nbsp;
		<i class="fa fa-sort" aria-hidden="true"><%= link_to '最後回覆', latest_plans_path( :comment_last =>"comment_last") %></i>&nbsp;&nbsp;
		
		<i class="fa fa-sort" aria-hidden="true"><%= link_to '最多瀏覽', latest_plans_path( :page =>	"view") %></i>&nbsp;&nbsp;
		<i class="fa fa-sort" aria-hidden="true"><%= link_to '最近上傳', latest_plans_path %></i>
		</p>

	
</div>

<div class="container">
	<div class="row">
  
		<% @plans.each do |p| %>
			<div class="col-md-4">
				<table class="table table-bordered">
					<tr>
					  <th><%=truncate(p.title, length: 20) %></th>
						
					</tr>
					
					<tr>
						<td><i class="fa fa-eye" aria-hidden="true">&nbsp;<%= p.page_view %></i></td>
						
					</tr>
					<tr>
						<td>最近更新: <%= time_tag(p.updated_at) %></td>
						
					</tr>

					<tr>
						<td><%= image_tag p.file_location ,class:"resize-latest" %></td>
					</tr>
					<tr>
						
						<% @user= User.find_by(:nickname => p.host) %>
						<td><%= link_to p.host, user_path(@user.to_param) %>
						<% p.tag_categories.each do |t| %>
		   			<i class="fa fa-tag" aria-hidden="true"><%= t.name %></i>
						<% end %>
						</td>
					</tr>
					
					<tr>
						<td><%= link_to 'Detail', plan_path(p) %> </td>
					</tr>
				</table>	
			</div>
		<% end %>
	 
	</div>
</div>
<div class="container text-center">
	<%= paginate @plans %>
</div>


