<div class="container">
	<h1>新增願望</h1>
	
 
	<%= form_for @plan,	html: { multipart: true}	do |f| %> 
	<div class="form_group">
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :title, "願望主題(必填)" %><br>
		<%= f.text_field :title%>
		<% if @plan.errors.present? %>
			<% if @plan.errors.messages[:title] %>
			<p class="error"><%= @plan.errors.messages[:title].to_sentence  %></p>
			<% end %>
	 	<% end %>
   
	</div>
	<div class="form_group">
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :duedate, "預計完成日(必填)" %><br>
		<%= f.date_select :duedate %>
		<% if @plan.errors.present? %>
			<% if @plan.errors.messages[:duedate] %>
			<p class="error"><%= @plan.errors.messages[:duedate].to_sentence  %></p>
			<% end %>
	 	<% end %>
		
	</div>
		
	<div class="form_group" >
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :file_location, "上傳封面圖片" %><br>

		<%= f.file_field :file_location ,class:"file"  %>
		
		<div class="upload-preview">
			
			<%= image_tag @plan.file_location.url,class:"resize" %>
		</div>

		
	</div>
	


	<div class="form_group">	
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :is_public,"是否要公開(必填)" %><br>
		<%= f.radio_button :is_public,true,:value => true %>
		<%= f.label :is_public, "公開"%>
		<%= f.radio_button :is_public,false,:value => false %>		
		<%= f.label :is_public, "私人"%>	    
	</div>

	<div class="form_group">
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :progress, "進度(必填)" %><br>
			<%= f.radio_button :progress,"剛決定願望",:value=>"剛決定願望"%>
		 	<%= f.label :progress, "剛決定願望",:value=>"剛決定願望"%>
			<%= f.radio_button :progress,"Plan計畫階段",:value=>"Plan計畫階段"%>
			<%= f.label :progress, "Plan計畫階段",:value=>"Plan計畫階段"%>
			<%= f.radio_button :progress,"Do行動階段",:value=>"Do行動階段"%>
			<%= f.label :progress, "Do行動階段",:value=>"Do行動階段"%>
			<%= f.radio_button :progress,"Check檢視階段",:value=>"Check檢視階段"%>
			<%= f.label :progress, "Check檢視階段",:value=>"Check檢視階段"%>
			<%= f.radio_button :progress,"Action行動階段",:value=>"Action行動階段"%>
			<%= f.label :progress, "Action行動階段",:value=>"Action行動階段"%>
			<%= f.radio_button :progress,"完成計畫",:value=>"完成計畫"%>
			<%= f.label :progress, "完成計畫",:value=>"完成計畫"%>

	</div>
	<div class="form_group">
		<i class="fa fa-cog fa-2x" aria-hidden="true"></i><%= f.label :tag_category_ids, "願望分類:" %><strong>(限制選取3項)</strong><br>
		<%= f.collection_check_boxes(:tag_category_ids, TagCategory.all, :id, :name) %>

	</div>
	<div class="container" >
 		<div class="row">
	
			<div class="form_group">
				<div class= "col-md-2">
					<i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i><i class="fa fa-question fa-3x" aria-hidden="true"></i><%= f.label :why, "動機" %><br>
				</div>
				<div class= "col-md-10">
					
					<%= f.text_area :why ,class:"editable"%>
			
				</div>
			</div>

		</div>
	</div>
	<div class="container" >
 		<div class="row">
	
			<div class="form_group">
				<div class= "col-md-2">
					<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><%= f.label :plan, "Plan計畫" %><br>
				</div>
				<div class= "col-md-10">
					<%= f.text_area :plan ,class:"editable"%>
				</div>
			</div>

		</div>
	</div>

	<div class="container" >
 		<div class="row">
			<div class="form_group">
				<div class= "col-md-2">
					<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><%= f.label :do_what, "Do執行" %><br>
				</div>
				<div class= "col-md-10">
					<%= f.text_area :do_what ,class:"editable" %>
				</div>
			</div>
		</div>
	</div>
	<div class="container" >
 		<div class="row">
			<div class="form_group">
				<div class= "col-md-2">
					<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><%= f.label :check, "Check檢視" %><br>
				</div>
				<div class= "col-md-10">
					<%= f.text_area :check ,class:"editable"%>
				</div>
			</div>
		</div>
	</div>
	<div class="container" >
 		<div class="row">
			<div class="form_group">
				<div class= "col-md-2">
					<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><%= f.label :act, "Action行動" %><br>
				</div>
				<div class= "col-md-10">
					<%= f.text_area :act ,class:"editable"%>
				</div>
			</div>
		</div>
	</div>
			<div class="form_group text-center" >		
				<%= f.submit "儲存" ,class:"btn"%>

			</div>  


		</div>
	</div>  
		<%# if @plan.errors.present?%>
	  
	    <%# @plan.errors.each do |error, message|%>
	    <%#= "#{error.capitalize}  #{message}" %>
	  <%# end %>
  
	<% end %>

	

</div>




<script type="text/javascript">
 $("document").ready(function(){
	$("input:checkbox").click(function(){
    if ($("input:checkbox:checked").length > 3){
      alert('限制選取3項');}
	});
	

	var preview = $(".upload-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });


	});
</script>

