<div class="container text-center">

<h2>
<%= @plan.title %> <br>
</h2>

<h4> 預計完成日: <%= @plan.duedate %> 作者: <%=@plan.host%> </h4>

	<% @plan.tag_categories.each do |t| %>
		<i class="fa fa-tag" aria-hidden="true"><%= t.name %></i>
	<% end %>

</div>

<div class= "follow_like">
	<% unless @plan.host == current_user.nickname || current_user.role == "admin" %>
		<div class="col-md-2 see-follow">
			<% if @plan.already_followed(current_user) %>	
				<%= button_to unfollow_plan_path(@plan) , {:remote => true} do %>
					<i class="fa fa-bookmark fa-2x" aria-hidden="true"><%= @follow_count %></i>
				<% end %>
			<%else%>			
				<%= button_to follow_plan_path(@plan) ,{:remote => true} do %>
					<i class="fa fa-bookmark-o fa-2x" aria-hidden="true"><%= @follow_count %></i>
				<% end %>
			<% end %>
			<div class="who-follow">
				<% if @follow_count < 1 %>
				  <p>目前還沒有人收藏</p>
				<% else %>
					<p>See who follow</p>
						<% @plan.memberships.each do |f| %>
							<%= f.user.nickname %>&nbsp;
						<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-md-2 see-like">
			<% if @plan.already_liked(current_user) %>			
				<%= button_to unlike_plan_path(@plan) , {:remote => true} do %>
					<i class="fa fa-heart fa-2x" aria-hidden="true"><%= @like_count %></i>
				<% end %>
			<%else%>			
				<%= button_to like_plan_path(@plan) ,{:remote => true} do %>
					<i class="fa fa-heart-o fa-2x" aria-hidden="true"><%= @like_count %></i>
				<% end %>
			<% end %>
			<div class="who-like">
				<% if @like_count < 1 %>
				  <p>目前還沒有人like</p>
				<% else %>
					<p>See who like</p>
						<% @plan.likes.each do |f| %>
							<%= f.user.nickname %>&nbsp;
						<% end %>
					</ol>
				<% end %>
			</div>
		</div>
	<% end %>	
	<div class="col-md-2">
		<%= render_shareable :buttons => ['google_plus'] %>
	</div>
	<div class="col-md-2">
		<%= render_shareable :buttons => ['facebook'] %>
	</div>
	<div class="col-md-2">
		<i class="fa fa-eye" aria-hidden="true">&nbsp;<%= @plan.page_view %></i>&nbsp;&nbsp;&nbsp;
	</div>
</div>


<div class="navi">
	<%if current_user && current_user.nickname == @plan.host || current_user.role == "admin" %>
		<%= render :partial => "only" %>
		
	<% end %>
	
</div>

<div class="container text-center">

			<%= image_tag @plan.file_location.url ,class:"resize"%>	<br><br>
			<%if current_user && current_user.nickname == @plan.host || current_user.role == "admin" %>
				<h4><i class="fa fa-lock" aria-hidden="true">是否公開：</i>
				<%=  @plan.is_public %><br></h4>
			<% end %>
		

			<h4><i class="fa fa-tasks" aria-hidden="true">目前進度：</i><%= @plan.progress %>
</div>


<div class="container" id="photo-list">
	<% @plan.photos.each do |p| %>
		<%= render :partial => 'plan_photos/photo', :locals => {:p => p }%>					
<% end %>
<div class="container">
	<% if current_user.role == "admin" ||	@plan.host == current_user.nickname %>
		<div class="col-md-2">
		<%= render :partial => 'plan_photos/newphoto' %>
		</div>
	<% end %>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i><i class="fa fa-question fa-3x" aria-hidden="true"></i><p><strong>動機</strong></p>
		</div>
		<div class="col-md-10 show">
			
			<%= sanitize( @plan.why ) %>
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Plan計畫</strong></p>
		</div>
		<div class="col-md-10 show">
			<%= sanitize( @plan.plan) %>
			<%#= @plan.plan %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Do執行</strong></p>
		</div>
		<div class="col-md-10 show">
			<%= sanitize( @plan.do_what ) %>		
			<%#= @plan.do_what %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Check檢視</strong></p>
		</div>

		<div class="col-md-10 show">	
			<%= sanitize( @plan.check ) %>		
			<%#= @plan.check %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Action行動</strong></p>
		</div>


		<div class="col-md-10 show">		
			<%= sanitize( @plan.act ) %>	
			<%#= @plan.act %>
		</div>
	</div>

</div>


<div class="container">
	
</div>
<div class="container">		

	<% if current_user %>
	<hr>
		<div class="container">
		  <h3>目前:<span id="count"><%= @comment_no %></span> 則留言<i class="fa fa-commenting" aria-hidden="true"></i></h3>

		  
			<%= render :partial => 'plan_comments/form' %>
		</div>
			<div class="container" id="comment-list">
				<% @comments.each do |c| %>
					<%= render :partial => 'plan_comments/comment', :locals => {:c => c }%>
					
				<% end %>

			</div>

			<% paginate @comments %>

			
			<% if @next_page %>
				<%= link_to '更多留言',plan_path(@plan, :page => @next_page) ,:id => 'load-more',:remote => true %>
			<% end %>
<% else %>

  <h3>登入就可觀看留言</h3>
 <% end %>

</div>


	




<script type="text/javascript">
$("document").ready(function(){
	$(window).scroll(function(){
    if ( $(window).scrollTop() > $(document).height() - $(window).height() - 1 ) {
      var url = $("#load-more").attr("href");
      if (url) {
        $.ajax({
          type: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  })
 
});
</script>
