<h1 class="tc"><%= @plan.title %></h1>




<p>是否公開：<%= @plan.is_public %> </p>

<p>DueDate: <%= @plan.duedate %></p>


<p>主辦人：<%= @plan.user.nickname %> </p>

<p>目前進度：<%= @plan.progress %></p>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p>Plan計畫：</p>
			<%= @plan.plan %> 
		</div>
		<div class="col-md-3">
			<p>Do執行：</p>
			<%= @plan.do_what %> 
		</div>
		<div class="col-md-3">
			<p>Check檢視：</p>
			<%= @plan.check %> 
		</div>
		<div class="col-md-3">
			<p>Action行動：</p>
			<%= @plan.act %>
		</div>
	</div>
</div>

<div>
<p> 相關file</p>
<%= image_tag @plan.file_location.url %>
</div>

<%= render :partial => 'plan_comments/comment' %>


<%= render :partial => 'plan_comments/form' %>

<% if current_user.nickname == @plan.user.nickname %>
	<%= render :partial => "only" %>
<% else %>
<hr>
<%= link_to 'Back_to_Latest', latest_plans_path ,class:"btn btn-primary btn-xs"%>
<% end %>

<style>
	.tc{
		text-align: center;
	}
	.ac{

	}

</style>
