<h1><%= @plan.title %></h1>

<%= image_tag @plan.file_location.url %>


<h3>是否公開：<%= @plan.is_public %> </h3>

<h3>DueDate: <%= @plan.duedate %></h3>

<h3>主辦人：<%= @plan.user.nickname %> </h3>

<h3>目前進度：<%= @plan.progress %></h3>


<h4>Plan計畫：<%= @plan.plan %> </h4>

<h4>Do執行：<%= @plan.do_what %> </h4>

<h4>Check檢視：<%= @plan.check %> </h4>

<h4>Action行動：<%= @plan.act %> </h4>






<%= render :partial => 'plan_comments/comment' %>


<%= render :partial => 'plan_comments/form' %>

<% if current_user.nickname==@plan.user.nickname %>
<%= render :partial => "only" %>
<% end %>
