

<h2><i class="fa fa-bookmark-o" aria-hidden="true"></i>
<%= @plan.title %> 
<div class= "follow">
<% unless @plan.host == current_user.nickname %>
	<% if @plan.users.include?(current_user) %>	
		<%= button_to 'Unfollow', unfollow_plan_path(@plan) ,class:"btn"%>
	<%else%>			
		<%= button_to 'Follow', follow_plan_path(@plan) ,class:"btn"%>
	<% end %>
<% end %>	

</div>
</h2>
<div class="tag">
	<% @plan.tag_categories.each do |t| %>
		<i class="fa fa-tag fa-2x" aria-hidden="true"><%= t.name %></i>
	<% end %>
</div>
<div class="navi">
	<%if current_user && current_user.nickname == @plan.host %>
		<%= render :partial => "only" %>

	<% else %>
		

		<hr>
		<%= link_to '個人頁面', plans_path ,class:"btn"%>
		<%= link_to '最新活動', latest_plans_path ,class:"btn"%>		
		

		
	<% end %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag @plan.file_location.url ,class:"resize"%>	
		</div>

		<div class="col-md-6">
			
			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>
			是否公開：<%= @plan.is_public %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i> DueDate:<%= @plan.duedate %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>主辦人：<%= @plan.host%> </p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前進度：<%= @plan.progress %></p>
			
				

		
			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前follow人數：<%= @follower %></p>
		</div>
	</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Plan計畫</strong></p>
		</div>
		<div class="col-md-10">
			
			<%= @plan.plan %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Do執行</strong></p>
		</div>
		<div class="col-md-10">		
			<%= @plan.do_what %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Check檢視</strong></p>
		</div>

		<div class="col-md-10">			
			<%= @plan.check %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Action行動</strong></p>
		</div>


		<div class="col-md-10">			
			<%= @plan.act %>
		</div>
	</div>
</div>

		

<% if current_user %>



	<%= render :partial => 'plan_comments/comment' %>


	<%= render :partial => 'plan_comments/form' %>

<% else %>

  <h3>登入就可觀看留言</h3>
 <% end %>




<style>
	.col-md-2{
		margin-top: 10px;
		text-align: center;

	}

	.col-md-10{
		margin-top: 10px;
		border-style: dashed;
		border-width: 1px;
		min-height: 300px;
		word-wrap:break-word;
	}


	.col-md-6{

		padding:40px;
	}


	.follower{
		margin: 10px;
		text-align: right;

	}
	.resize{
		resize: 
		width : auto;
		width : 400px;
		height : auto;
		height : 267px;
	}
	.tag{
		text-align: right;
		padding-right: 20px;
	}

	.follow{
	 display: inline-block;

	}


</style>
