

<h2>
<%= @plan.title %> 

<div class= "follow & like">
	<% unless @plan.host == current_user.nickname || current_user.role == "admin" %>
		<% if @plan.already_followed(current_user) %>			
			<%= button_to unfollow_plan_path(@plan) , {:remote => true} do %>
				<i class="fa fa-bookmark" aria-hidden="true"></i>
				<%= @follow_count %>
			<% end %>
		<%else%>			
			<%= button_to follow_plan_path(@plan) ,{:remote => true} do %>
				<i class="fa fa-bookmark-o" aria-hidden="true"></i>
				<%= @follow_count %>
			<% end %>
		<% end %>
	
		<% if @plan.already_liked(current_user) %>			
			<%= button_to unlike_plan_path(@plan) , {:remote => true} do %>
				<i class="fa fa-heart" aria-hidden="true"></i>
				<%= @like_count %>
			<% end %>
		<%else%>			
			<%= button_to like_plan_path(@plan) ,{:remote => true} do %>
				<i class="fa fa-heart-o" aria-hidden="true"></i>
				<%= @like_count %>
			<% end %>
		<% end %>

	<% end %>	

</div>



</h2>



<div class="tag">
	<% @plan.tag_categories.each do |t| %>
		<i class="fa fa-tag" aria-hidden="true"><%= t.name %></i>
	<% end %>

</div>
<div class="navi">
	<%if current_user && current_user.nickname == @plan.host || current_user.role == "admin" %>
		<%= render :partial => "only" %>
		
	<% end %>

	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag @plan.file_location.url ,class:"resize"%>	
		</div>

		<div class="col-md-6">
			
			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>
			是否公開：<%= @plan.is_public %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>預計完成日：<%= @plan.duedate %></p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>主辦人：<%= @plan.host%> </p>

			<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前進度：<%= @plan.progress %></p>
			
			<div class="see-follow">
				<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前follow人數：<%= @follow_count %></p>
				<div class="who-follow">
				  <% if @follow_count < 1 %>
				   <p>目前還沒有人收藏</p>
				  <% else %>
						<ol>
						<% @plan.memberships.each do |f| %>
							<li><%= f.user.nickname %>&nbsp;</li>
						<% end %>
						</ol>
					<% end %>
				</div>
			</div> 
			<div class="see-like">
				<p><i class="fa fa-cog fa-3x" aria-hidden="true"></i>目前like人數：<%= @like_count %> </p>
				<div class="who-like">
					<% if @like_count < 1 %>
				   	<p>目前還沒有人like</p>
				  <% else %>
						<ol>
						<% @plan.likes.each do |f| %>
							<li><%= f.user.nickname %>&nbsp;</li>
						<% end %>
						</ol>
					<% end %>
				</div>
			</div>
			
		</div>
	</div>
	

</div>
<div class="container" id="photo-list">
	<% @plan.photos.each do |p| %>
		<%= render :partial => 'plan_photos/photo', :locals => {:p => p }%>
					
<% end %>
<div class="container">
	<% if current_user.role == "admin" ||	@plan.host == current_user.nickname %>
		<div class="col-md-2">
		<%= render :partial => 'plan_photos/newphoto' %>
		</div>
	<% end %>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i><i class="fa fa-question fa-3x" aria-hidden="true"></i><p><strong>動機</strong></p>
		</div>
		<div class="col-md-10">
			<%= sanitize( @plan.why ) %>
			<%#= @plan.why %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Plan計畫</strong></p>
		</div>
		<div class="col-md-10">
			<%= sanitize( @plan.plan) %>
			<%#= @plan.plan %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Do執行</strong></p>
		</div>
		<div class="col-md-10">
			<%= sanitize( @plan.do_what ) %>		
			<%#= @plan.do_what %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Check檢視</strong></p>
		</div>

		<div class="col-md-10">	
			<%= sanitize( @plan.check ) %>		
			<%#= @plan.check %> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><p><strong>Action行動</strong></p>
		</div>


		<div class="col-md-10">		
			<%= sanitize( @plan.act ) %>	
			<%#= @plan.act %>
		</div>
	</div>

</div>
<div class="container text-center">
	<i class="fa fa-facebook-official facebook " aria-hidden="true">分享<%= render_shareable :buttons=> ['facebook'] ,:static_link => true %></i>
	 <i class="fa fa-google-plus-square google" aria-hidden="true">分享<%= render_shareable :buttons=> ['google_plus'] ,:static_link => true %></i>
</div>

<div class="container">		

	<% if current_user %>
	
			<hr>
		  <h3>目前:<span id="count"><%= @comment_no %></span> 則留言<i class="fa fa-commenting" aria-hidden="true"></i></h3>
			<ul id="comment-list">
				<% @plan.comments.each do |c| %>
					<%= render :partial => 'plan_comments/comment', :locals => {:c => c }%>
					
				<% end %>
			</ul>


</div>


	<%= render :partial => 'plan_comments/form' %>

<% else %>

  <h3>登入就可觀看留言</h3>
 <% end %>


<style>
 button{
 	background-color: rgba(0,0,0,0);
 	border:0px;
 	float: left;
 	width:auto;

 }

 .see-follow{
 	position: relative;
 }

 .who-follow{
	position: absolute;
	display: none;
 	background-color:rgba(119,178,178,1);
 	border-radius: 5px;
 	width:30%;
 }

.see-follow:hover .who-follow{
	display: block;
	z-index: 1;
}

.see-like{
	position: relative;
}

 .who-like{
	position: absolute;
	display: none;
 	background-color:rgba(119,178,178,1);
 	border-radius: 5px;
 	width: 30%;
 }
 .see-like:hover .who-like{
	display: block;
	z-index: 1;
}



</style>


