<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
    	
     <div class="navbar-header">
            <h3><%= image_tag "brand_logo.png" %>願望清單 </h3>        
      </div>
      <nav class="nav ">
        <div class="container-fluid">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
          <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
          <li> <%= link_to '首頁', home_path%></li>
          <li> <%= link_to '關於我們', about_path %></li>
          <li><%= link_to 'Q&A', how_it_works_path %></li>
          <li><%= link_to '看大家的清單', latest_plans_path %></li>
          <li><%= link_to '前往個人頁面', plans_path %></li>
         
        </ul>
        <p class="login"> 哈囉! 
        <% if current_user %> 
          <%= current_user.nickname %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
          <%= link_to('更改資料', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
          <%= link_to "Facebook登入", user_facebook_omniauth_authorize_path %>
        <% end %>
      </p>
        </div>
        </div>

      </nav>
    </div>



    <div class="body-info">
        
      <%= yield %>
    </div>

    <div class="footer text-center">
  
      <h6>©Copyright2017 VC </h6>

      <h6>使用本網站即視為同意本站隱私條款</h6>

    </div>

  </body>

</html>



<script>
 var editor = new MediumEditor('.editable', {
    toolbar: {
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'h4','orderedlist','unorderedlist'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: true,
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
    },
    placeholder: {
        /* This example includes the default options for placeholder,
           if nothing is passed this is what it used */
        text: '輸入內容，選取文字範圍即可編輯',
        hideOnClick: true
    }
   
});

</script>
